{__NOLAYOUT__}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>版本号</title>
		<link rel="stylesheet" href="__ROOT__/Public/2.0/assets/css/bootstrap.min.css">
		<style>
			h3,h4{
				margin: 0;
			}
			h3{
				padding-bottom: 10px;
			}
		</style>
	</head>

	<body>
	<div style="width: 80%;margin: 30px auto 0;">
		<div class="panel panel-primary">
			<div class="panel-heading"><h4 style="float: left;">版本号1.1.2</h4><h4 style="float: right;">2018-11-27 16:00</h4><br /></div>
			<div class="panel-body">
				<h3>更新内容</h3>
				<p>1.修复订单操作后不能刷新的问题。</p>
				<p>2.完善组织架构。</p>
			</div>
		</div>
	</div>
	<div style="width: 80%;margin: 30px auto 0;">
		<div class="panel panel-primary">
			<div class="panel-heading"><h4 style="float: left;">版本号1.1.1</h4><h4 style="float: right;">2018-11-23 15:00</h4><br /></div>
			<div class="panel-body">
				<h3>更新内容</h3>
				<p>1.增加供应商更换头像的功能。</p>
				<p>2.重构分配权限功能。</p>
				<p>3.重构组织架构：公司及部门的查看,添加,修改,删除,调动员工。</p>
				<p>4.增加产品图片删除功能。</p>
			</div>
		</div>
	</div>
	<div style="width: 80%;margin: 30px auto 0;">
		<div class="panel panel-primary">
			<div class="panel-heading"><h4 style="float: left;">版本号1.1.0</h4><h4 style="float: right;">2018-10-24 12:00</h4><br /></div>
			<div class="panel-body">
				<h3>更新内容</h3>
                <p>1.增加更换头像的功能。</p>
                <p>2.增加当前账户下查看可用账号功能。</p>
                <p>3.增加库管权限，根据不同国家赋予权限，可以查看订单的流程进度(内测中)。</p>
                <p>4.增加查询订单功能。</p>
                <p>5.供应商管理：添加供应商,修改,查看.添加供应商产品。</p>
                <p>6.采购订单：申请,修改,删除,审核(内测中)。</p>
                <p>7.仓库管理：仓库的申请,修改,和锁定功能.</p>
                <p>8.运输管理：收货。</p>
                <p>9.库存管理：查看库存。</p>
                <p>10.通讯录：可以查看所有人的联系方式。</p>
                <p>11.订单：新增订单处理流程(内测中)。</p>
                <p>12.订单：新增订单修改功能(内测中)。</p>
                <p>13.订单：新增问题订单列表(内测中)。</p>
			</div>
		</div>
	</div>
		<div style="width: 80%;margin: 30px auto 0;">
			<div class="panel panel-primary">
				<div class="panel-heading"><h4 style="float: left;">版本号1.0.3</h4><h4 style="float: right;">2018-09-15 13:00</h4><br /></div>
				<div class="panel-body">
					<h3>更新内容</h3>
					<p>1.增加产品的简称属性。</p>
					<p>2.修复了bug若干。</p>
					<p>3.修改产品相关功能的新增 修改 等方式,可以人工选择一级二级编码。</p>
                    <p>4.上传图片自动压缩功能,缩略图将只保存缩略图,高清图有两个图都保存,提升加载速度。</p>
                    <p>5.增加人员通讯录功能。</p>
                    <p>6.用户关联外部平台账号功能。</p>
				</div>
			</div>
		</div>
		<div style="width: 80%;margin: 30px auto 0;">
			<div class="panel panel-primary">
				<div class="panel-heading"><h4 style="float: left;">版本号1.0.2</h4><h4 style="float: right;">2018-09-03 16:00</h4><br /></div>
				<div class="panel-body">
					<h3>更新内容</h3>
					<p>1.录入数据时，增加了去重前后空格功能。</p>
					<p>2.修复了bug若干。</p>
				</div>
			</div>
		</div>
		<div style="width: 80%;margin: 30px auto 0;">

			<div class="panel panel-primary">
				<div class="panel-heading"><h4 style="float: left;">版本号1.0.1</h4><h4 style="float: right;">2018-8-17 10:00</h4><br /></div>
				<div class="panel-body">
					<h3>更新内容</h3>
					<p>1.登录退出，添加用户，管理权限，修改账号密码。</p>
					<p>2.公司组织架构，人员名录，个人信息。</p>
					<p>3.添加产品，模板管理，上传图片。</p>
					<p>4.供应商管理。</p>
					<p>5.订单查看。</p>
				</div>
			</div>
			
			<!--<div class="panel panel-primary">
				<div class="panel-heading"><h4>Panel heading without title</h4></div>
				<div class="panel-body">
					<h3>content</h3>
					If your website has a Content Security Policy (CSP) which doesn't allow style-src 'unsafe-inline', then you won't be able to use inline style attributes to set progress bar widths as shown in our examples below. Alternative methods for setting the widths that are compatible with strict CSPs include using a little custom JavaScript (that sets element.style.width) or using custom CSS classes.
				</div>
			</div>-->
		</div>
	</body>

</html>