<link rel="stylesheet" type="text/css" href="__ROOT__/Public/FirstEdition/assets/shu/boot/table.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/FirstEdition/assets/shu/boot/bootstrap-select.css" />
<style>
	.modal-dialog {
		margin: 60px auto !important;
	}
	
	.bootstrap-select.btn-group .dropdown-toggle .filter-option {
		padding-left: 5px;
		padding-top: 3px;
		color: #666;
	}
	/*.bootstrap-select {
		width: 80% !important;
	}*/
	
	.bootstrap-select>button {
		height: 100%;
		line-height: 100%;
	}
	
	.bootstrap-select>button:active {
		background: #fff !important;
	}
	
	.bootstrap-select>button:hover {
		background: #fff !important;
	}
	
	.bootstrap-select>button:focus {
		background: #fff !important;
	}
	
	.input-group {
		width: 70%;
	}
	
	select {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
	
	select::-ms-expand {
		display: none;
	}
	
	.caret {
		color: #333 !important;
	}
	#table1 td{
		line-height: 40px;
	}
	#table1 p{
		margin: 0;
	}
</style>
<script>
	$('#23').parents('li').addClass('nav-active')
	$('#23').parents('li').addClass('nav-expanded')
</script>
<!--查询一级编码 url-->
<input type="hidden" id="getAjaxclassone" name='' value="{:U('Product/getAjaxclassone')}">
<!--查询二级编码 url-->
<input type="hidden" id="getAjaxclasstwo" name='' value="{:U('Product/getAjaxclasstwo','','')}">
<!--添加产品 url-->
<input type="hidden" id="addAjaxProduct" name='' value="{:U('Product/addAjaxProduct','','')}">
<!--产品名称 重复检测-->
<input type="hidden" id="productname" name='' value="{:U('Product/productname','','')}">
<!--产品简称 重复检测-->
<input type="hidden" id="productshortname" name='' value="{:U('Product/productshortname','','')}">
<!--隐藏域-->

<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
					<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
				</div>

				<h2 class="panel-title">{$Think.lang.Productlist}</h2>
			</header>
			<div class="panel-body">
				<div id="node_message" style="position: fixed;top: 50%;left: 50%;display: none;background: #888;min-width:300px;margin-left: -150px;margin-top:-15px;border-radius: 8px;text-align: center;font-size: 16px;padding: 12px 20px;color: #fff;z-index: 1200;"></div>
				<form class="" action="{:U('Product/index','','')}" method="get" style="display: inline-block;float: left;margin-right:15px ;">
					<div class="input-group" style="width: 500px;">
						<input name="search" type="text" value="" class="form-control" placeholder="{$Think.lang.Queryproduct}">
						<span class="input-group-btn">
		                    <button type="submit" class="btn btn-success" style="white-space: nowrap;">{$Think.lang.Search}</button>
		                </span>
					</div>
					<!--<select name="select">
						<option value="1">12</option>
						<option value="2">13</option>
					</select>-->
					<input type="hidden" id="" name='' value="">
					<input type="hidden" name='' value="">
				</form>
				<button class="btn btn-primary" onclick="onm()" style="float: left;">{$Think.lang.Addnewproduct}</button>
				<br style="clear: both;" />
				<table id="table1" class="table table-hover table-bordered table-striped" style="border-collapse: collapse;text-align: center;line-height: 40px;">
					<thead>
						<tr>
							<th style="text-align: center;">{$Think.lang.Thumbnail}</th>
							<th style="text-align: center;">{$Think.lang.Code}</th>
							<th style="text-align: center;">{$Think.lang.Name}</th>
							<th style="text-align: center;">{$Think.lang.Abbreviation}</th>
							<th style="text-align: center;">{$Think.lang.Date}</th>
							<th style="text-align: center;">{$Think.lang.Operation}</th>
						</tr>
					</thead>
					<tbody>
						<volist name="list" id="vo">
							<tr>
								<td><img style="width: 40px;height: 40px;" src="__ROOT__{$vo.thumb}" alt="{$Think.lang.Productpicture}" /></td>
								<td>
									<a href="{:U('Product/homeProduct',array('pid'=>$vo[pid]),'')}" target="_Blank">{$vo.bclassc_number}.{$vo.sclassc_number}.{$vo.snumber_number}</a>
								</td>
								<td>
									<a href="{:U('Product/homeProduct',array('pid'=>$vo[pid]),'')}" target="_Blank">{$vo.name}</a>
								</td>
								<td>
									<p>{$vo.shortname}</p>
									<!--简称-->
								</td>
								<td>
									<p>{$vo.time}</p>
									<!--<p style="color: #666;"></p>-->
								</td>
								<td>
									<a title="{$Think.lang.Manageproductimages}" class="btn btn-primary btn-xs" style="color: white;" target="_blank" href="{:U('Product/imgindex',array('pid'=>$vo[pid]))}"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a>
								</td>
							</tr>
						</volist>

					</tbody>
				</table>
				<ul class="pager" style="width: 100%;">
					<!-- 分页显示 -->{$page}</ul>
			</div>
		</section>

	</div>
</div>

<div id="node_modal" class="modal fade  bs-example-modal-lg" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">
					{$Think.lang.Addnewproduct}
				</h4>
			</div>
			<div class="modal-body" style="line-height: 34px;">
				<input type="hidden" name="id" value="{$vo.id}">

				<div class="row" style="margin-left: 0;margin-right: 0;">
					<!--<div style="position: absolute;top: 130px;right: 200px;">啊实打实</div>-->
					<div class="input-group">
						<span class="input-group-addon">{$Think.lang.Primarycode}<span style="color: red;">*</span></span>
						<select id="queryDevice" type="text" name="queryDevice" class="selectpicker form-control" onchange="getAjaxclasstwo()" data-live-search="true">
						</select>
					</div>
					<div class="input-group" style="padding-top: 12px;position: relative;">
						<span class="caret" style="position: absolute;right: 2%;top: 64%;z-index: 20;"></span>
						<span class="input-group-addon">{$Think.lang.Secondcode}<span style="color: red;">*</span></span>
						<select id="second" type="text" name="second" class="form-control">
						</select>
					</div>
					<div class="input-group" style="padding-top: 12px;float: left;">
						<span class="input-group-addon">{$Think.lang.Productname}<span style="color: red;">*</span></span>
						<input type="text" name="name" class="form-control" value="" placeholder="" onblur="productname()">
						<!--<span class="input-group-addon" style="cursor: pointer;" onclick="">{$Think.lang.Detection}</span>-->
					</div>
					<div id="name_check" style="float: left;padding-top: 12px;margin-left: 20px;"></div>
					<br style="clear: both;" />
					<div class="input-group" style="padding-top: 12px;float: left;">
						<span class="input-group-addon">{$Think.lang.Abbreviation}<span style="color: red;">*</span></span>
						<input type="text" name="shortname" class="form-control" value="" placeholder="" onblur="productshortname()">
						<!--<span class="input-group-addon" style="cursor: pointer;" onclick="">{$Think.lang.Detection}</span>-->
					</div>
					<div id="shortname_check" style="float: left;padding-top: 12px;margin-left: 20px;"></div>
					<br style="clear: both;" />
					<div class="input-group" style="padding-top: 12px;">
						<span class="input-group-addon">{$Think.lang.Productquality}（{$Think.lang.Gram}）</span>
						<input type="text" name="weight" class="form-control" value="" placeholder="">
					</div>
					<div class="input-group" style="padding-top: 12px;">
						<span class="input-group-addon">{$Think.lang.long}（{$Think.lang.Cm}）</span>
						<input type="text" name="long" class="form-control" value="" placeholder="">
					</div>
					<div class="input-group" style="padding-top: 12px;">
						<span class="input-group-addon">{$Think.lang.width}（{$Think.lang.Cm}）</span>
						<input type="text" name="width" class="form-control" value="" placeholder="">
					</div>
					<div class="input-group" style="padding-top: 12px;">
						<span class="input-group-addon">{$Think.lang.height}（{$Think.lang.Cm}）</span>
						<input type="text" name="height" class="form-control" value="" placeholder="">
					</div>
					<div id="key_words" class="input-group" style="padding-top: 12px;float: left;">
						<span class="input-group-addon">{$Think.lang.label}</span>
						<select id="getAjaxKeywords" type="text" name="queryDevice" class="selectpicker form-control" data-live-search="true" multiple>
						</select>
					</div>
					<button class="btn btn-primary" style="float: left;margin-top: 12px;margin-left: 12px;" onclick="key_words()">{$Think.lang.Add_keywords}</button>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="add_pr" type="submit">{$Think.lang.Save}</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">{$Think.lang.Cancel}</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
<!-- /.modal-dialog -->
<script src="__ROOT__/Public/FirstEdition/assets/shu/boot/table.js"></script>
<script src="__ROOT__/Public/FirstEdition/assets/shu/boot/bootstrap-select.js"></script>
<script>
	var deviceStr = "<option id='first_op' value=''>{$Think.lang.Selectfirstcode}</option>";
	var getAjaxclassone = $("#getAjaxclassone").val();
	$.ajax({
		url: getAjaxclassone, //通过页面元素的ID来获取设备ID
		type: "post", //选择传值方式
		data: {},
		dataType: "JSON",
		success: function(data) {
			for(var i = 0; i < data.length; i++) {
				deviceStr += "<option value='" +
					data[i]['id'] +
					"'" +
					">" +
					data[i].number + ': ' + data[i]['nameus'] +
					"</option>";
			}
			$("#queryDevice").html("");
			$('#queryDevice').append(deviceStr);
			$('#queryDevice').selectpicker('refresh');
		}
	})
	//关键词
	function key_refresh() {
		var deviceStr1 = "<option value=''>{$Think.lang.Add_label}</option>";
		$.ajax({
			url: "{:U('Product/getAjaxKeywords')}", //通过页面元素的ID来获取设备ID
			type: "post", //选择传值方式
			data: {},
			dataType: "JSON",
			success: function(data) {
				console.log(data);
				for(var i = 0; i < data.length; i++) {
					deviceStr1 += "<option value='" +
						data[i].id +
						"'" +
						">" +
						data[i].name +
						"</option>";
				}
				$("#getAjaxKeywords").html("");
				$('#getAjaxKeywords').append(deviceStr1);
				$('#getAjaxKeywords').selectpicker({
					noneSelectedText: '{$Think.lang.Add_label}'
				});
				$('#getAjaxKeywords').selectpicker('refresh');
			}
		})
	}
	key_refresh();
	$(document).ready(function() {
		$('#table1').dataTable({
			"paging": false,
			"lengthChange": false,
			"info": false,
			"searching": false
		});
	});
	//添加新产品弹框
	function onm() {
		$('#node_modal').modal('toggle');
		//		getAjaxclassone();
	}

	function getAjaxclassone() //一级编码
	{
		var getAjaxclassone = $("#getAjaxclassone").val();
		$.ajax({
			url: getAjaxclassone, //通过页面元素的ID来获取设备ID
			type: "post", //选择传值方式
			data: {},
			dataType: "JSON",
			success: function(data) {
				//				console.log(data);
				//				var p = "<option id='first_op' value=''>请选择第一级编码</option>"
				//				$("#first").html(p);
				//				//将获取到的数据赋值
				//				for(var i = 0; i < data.length; i++) {
				//					//拼接option标签的 name value 等属性
				//					var p = "<option value='" +
				//						data[i]['id'] +
				//						"'" +
				//						">" +
				//						data[i].number + ': ' + data[i]['nameus'] +
				//						"</option>";
				//					$("#first_op").after(p);
				//				}

			}
		})

	}

	function getAjaxclasstwo() //二级编码
	{
		var getAjaxclasstwo = $("#getAjaxclasstwo").val();
		$.ajax({
			url: getAjaxclasstwo, //通过页面元素的ID来获取设备ID
			type: "post", //选择传值方式
			data: {
				superior: $('#queryDevice').val()
			},
			dataType: "JSON",
			success: function(data) {
				console.log(data);
				var p = "<option id='second_op' value=''>{$Think.lang.Selectsecondcode}</option>"
				$("#second").html(p);
				//将获取到的数据赋值
				for(var i = 0; i < data.length; i++) {
					//拼接option标签的 name value 等属性
					var p = "<option value='" +
						data[i]['id'] +
						"'" +
						">" +
						data[i].number + ': ' + data[i]['nameus'] +
						"</option>";
					$("#second_op").after(p);
				}

			}
		})
	}
	var pr_time = 0;
	//添加新产品
	$('#add_pr').on('click', function() {
		var now_time = new Date().getTime();
		if(now_time - pr_time < 2000) {
			console.log('点击太快')
			return false;
		} else {
			pr_time = now_time;
			console.log(pr_time)
			var addAjaxProduct = $("#addAjaxProduct").val();
			if($("#queryDevice").val() == "" || $("#second").val() == "" || $("input[name='name']").val() == "" || $("input[name='shortname']").val() == "") {
				if(t) {
					clearTimeout(t)
				};
				$('#node_message').html('{$Think.lang.Requiredfield}');
				node_message.style.display = 'block';
				var t = setTimeout("node_message.style.display='none';", 2000);
				return false;
			} else if($.trim($("input[name='shortname']").val()).length > 16) {
				if(t) {
					clearTimeout(t)
				};
				$('#node_message').html('简称最多16位字节');
				node_message.style.display = 'block';
				var t = setTimeout("node_message.style.display='none';", 2000);
				return false;
			}
			$.ajax({
				url: addAjaxProduct, //通过页面元素的ID来获取设备ID
				type: "post", //选择传值方式
				data: {
					bclass: $("#queryDevice").val(),
					sclass: $("#second").val(),
					name: $("input[name='name']").val(),
					weight: $("input[name='weight']").val(),
					shortname: $("input[name='shortname']").val(),
					long: $("input[name='long']").val(),
					width: $("input[name='width']").val(),
					height: $("input[name='height']").val(),
					keywords_id: $('#getAjaxKeywords').val()
				},
				dataType: "JSON",
				success: function(data) {
					if(t) {
						clearTimeout(t)
					};
					$('#node_message').html('{$Think.lang.Addsuccessfully}');
					$('#node_modal').modal('toggle');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';location.reload()", 2000);
				}
			})
		}
	})
	//产品简称检测
	function productshortname() {
		var productshortname = $("#productshortname").val();
		$.ajax({
			url: productshortname, //通过页面元素的ID来获取设备ID
			type: "post", //选择传值方式
			data: {
				name: $("input[name='shortname']").val()
			},
			dataType: "JSON",
			success: function(data) {
				console.log(data);
				if(data == 'can') {
					$('#shortname_check').html('<span style="color:#5cb85c;">{$Think.lang.Namecanused}</span>');
				} else {
					$('#shortname_check').html('<span style="color:red;">{$Think.lang.Duplicateproduct}</span>');
				}
			}
		})
	}
	//产品检测
	function productname() {
		var productname = $("#productname").val();
		$.ajax({
			url: productname, //通过页面元素的ID来获取设备ID
			type: "post", //选择传值方式
			data: {
				name: $("input[name='name']").val()
			},
			dataType: "JSON",
			success: function(data) {
				console.log(data);
				if(data == 'can') {
					$('#name_check').html('<span style="color:#5cb85c;">{$Think.lang.Namecanused}</span>');
				} else {
					$('#name_check').html('<span style="color:red;">{$Think.lang.Duplicate_product_name}</span>');
				}

			}
		})
	}

	function key_words() {
		console.log(1111)
		console.log($('#getAjaxKeywords').val());
		console.log($('#key_words input').val());
		var kkk = $('#key_words input').val();
		if($.trim(kkk)== ""){
			$('#node_message').text('{$Think.lang.label_cannot_empty}');
			node_message.style.display = 'block';
			var t = setTimeout("node_message.style.display='none';", 1500);
			return false;
		};
		var aaa;
		if($('#getAjaxKeywords').val() == null){
			aaa = [];
		}else{
			aaa = $('#getAjaxKeywords').val();
		};
		 
		$.ajax({
			url: "{:U('Product/ajaxAddKeywords')}", //通过JQ获取URL获得路径
			data: {
				keywords: kkk
			}, //通过页面元素的ID来获取设备ID
			type: "post", //选择传值方式(
			dataType: "JSON",
			success: function(data) {
				console.log(data);
				if(data == 0) {
					if(t) {
						clearTimeout(t)
					};
					$('#node_message').text('{$Think.lang.Keyword_repetition}，{$Think.lang.add_failed}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				} else {
					if(t) {
						clearTimeout(t)
					};
					aaa.push(data.id);
					$('#node_message').text('{$Think.lang.Addsuccessfully}');
					node_message.style.display = 'block';
					var deviceStr1 = "<option value=''>{$Think.lang.Add_label}</option>";
					$.ajax({
						url: "{:U('Product/getAjaxKeywords')}", //通过页面元素的ID来获取设备ID
						type: "post", //选择传值方式
						data: {},
						dataType: "JSON",
						success: function(data) {
							console.log(data);
							for(var i = 0; i < data.length; i++) {
								deviceStr1 += "<option value='" +
									data[i].id +
									"'" +
									">" +
									data[i].name +
									"</option>";
							}
							$("#getAjaxKeywords").html("");
							$('#getAjaxKeywords').append(deviceStr1);
							$('#getAjaxKeywords').selectpicker({
								noneSelectedText: '{$Think.lang.Add_label}'
							});
							console.log(aaa);
							$('#getAjaxKeywords').val(aaa);
							$('#getAjaxKeywords').selectpicker('refresh');	
						}
					})
					var t = setTimeout("node_message.style.display='none';", 2000);
				}
			}
		})
	}
</script>