<script>
	$('#93').parents('li').addClass('nav-active')
	$('#93').parents('li').addClass('nav-expanded')
</script>
<style>
html.fixed .content-body {
		margin-left: 265px;
		margin-right: 15px;
		margin-top: -5px;
	}
</style>
<div class="row" xmlns="http://www.w3.org/1999/html">
	<div id="node_message" style="position: fixed;top: 50%;left: 50%;display: none;background: #888;min-width:300px;margin-left: -150px;margin-top:-15px;border-radius: 8px;text-align: center;font-size: 16px;padding: 12px 20px;color: #fff;z-index: 1200;"></div>
	<div class="col-md-6">
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
					<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
				</div>
				<h2 class="panel-title">{$Think.lang.First}</h2>

			</header>
			<input type="hidden" name='getid' value="{:U('Product/separate','','')}">
			<div class="panel-body">
				<div class="col-sm-1 " style="width: auto;padding-left: 0;">
					<input type="hidden" name='13' value="{:U('Product/addclass','','')}">
					<button class="center-block btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="adclass(1)">
                            {$Think.lang.Addfirst}
                        </button>
				</div>
				<form class="form-horizontal" action="{:U('Product/productCoding','','')}" method="post">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="{$Think.lang.Codeorname}" name="numbera" value="{$sear}">
						<span class="input-group-btn">
						<button style="white-space: nowrap;" class="btn btn-success" type="submit">
							{$Think.lang.Search}
						</button>
					</span>
					</div>
					<!-- /input-group -->
				</form>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover mb-none table-striped" style="text-align: center">
						<thead>
							<tr>
								<th style="text-align: center">{$Think.lang.Code}</th>
								<th style="text-align: center">{$Think.lang.Namecode}</th>
								<th style="text-align: center">{$Think.lang.Operation}</th>
							</tr>
						</thead>
						<tbody>
							<input type="hidden" name='getcalss' value="{:U('Product/getclassify','','')}">
							<input type="hidden" name='getcalssid' value="{:U('Product/getclassifyid','','')}">
							<foreach name="info" item="vo">
								<tr>
									<td>{$vo.number}</td>
									<td>{$vo.nameus}</td>
									<td>
										<button type="button" title="{$Think.lang.Modify}" class="btn btn-primary btn-xs" onclick="adclass(2,'{$vo.id}')">
										  <span class="glyphicon glyphicon-pencil"></span>
										</button>
										<button type="button" title="{$Think.lang.Delete}" class="btn btn-danger btn-xs" onclick="deltwoclass(1,'{$vo.id}')">
										  <span class="glyphicon glyphicon-trash"></span>
										</button>
										<button type="button" title="{$Think.lang.Nextcode}" class="btn btn-info btn-xs" id="numberid" onclick="sonclass(this,'{$vo.id}')">
										  <span class="glyphicon glyphicon-arrow-right"></span>
										</button>
									
										<!--<button type="button" data-toggle="modal" class="btn btn-primary btn-xs" onclick="adclass(2,'{$vo.id}')">
                                        {$Think.lang.Modify}
                                    </button>
										<button type="button" style="margin-left:10px;" id="numberid" onclick="sonclass(this,'{$vo.id}')" class="btn btn-info btn-xs">
                                        {$Think.lang.Nextcode}
                                    </button>-->
									</td>
								</tr>
							</foreach>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
	<div class="col-md-6" id="cc" style="display: none;">
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
					<a href="#" class="panel-action panel-action-dismiss" onclick="$('#cc').css('display','none')"></a>
				</div>
				<h2 class="panel-title">{$Think.lang.Second}</h2>
				<p style="font-size: 14px;margin: 0;line-height: 22px;">{$Think.lang.First}：<span id="father_id" style="color: red;"></span></p>
				<p style="font-size: 14px;margin: 0;line-height: 22px;">{$Think.lang.Namecode}：<span id="father_name" style="color: red;"></span></p>
			</header>
			<input type="hidden" name='getid' value="{:U('Product/separate','','')}">
			<div class="panel-body">
				<div class="col-sm-1 " style="width: auto;padding-left: 0;">
					<input type="hidden" id="ccsx" />
					<input type="hidden" name='twonumber' value="{:U('Product/addtwoclass','','')}">
					<button class="center-block btn btn-primary"  data-toggle="modal" data-target="#myModal" onclick="twoclass(1)">
                            {$Think.lang.Addsecond}
                        </button>
				</div>
				<div class="input-group">
					<input id="twodata" type="text" class="form-control" placeholder="{$Think.lang.Codeorname}" name="twonumbera">
					<input type="hidden" class="form-control" id='twonu' placeholder="请输入中文名称" name="fnumber">
					<span class="input-group-btn">
                        <input type="hidden" name='gettwoid' value="{:U('Product/twodata','','')}">
						<button style="white-space: nowrap;"  class="btn btn-success" type="button" onclick="twodata()">
							{$Think.lang.Search}
						</button>
					</span>
				</div>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover mb-none table-striped">
						<thead>
							<tr>
								<th>{$Think.lang.Code}</th>
								<th>{$Think.lang.Namecode}</th>
								<th>{$Think.lang.Operation}</th>
							</tr>
						</thead>
						<tbody id="xx">
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="classModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 500px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
				<h4 class="modal-title" id="myModalLabel">
                </h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" action="{:U('Product/addclass','','')}" method="post" autocomplete="off">
					<div class="input-group" style="padding: 0 20px 0;">
						<span class="input-group-addon">{$Think.lang.Firstengname}</span>
						<input type="text" class="form-control" name="nameus" required  placeholder="{$Think.lang.Englishname}">
					</div>
					<div class="input-group" style="padding: 20px 20px 0;">
						<span class="input-group-addon">{$Think.lang.Primarycode}</span>
						<input type="text" class="form-control" id="maxnumber" placeholder="{$Think.lang.Pleaseentercode}" onkeyup="value=value.replace(/[^\d]/g,'')" name="number" maxlength="3" required unselectable="on">
					</div>
					<input type="hidden" id="id" name="id" value="">
					<input type="hidden" name='adclass' value="{:U('Product/addclass','','')}">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="addnumber()">{$Think.lang.Save}</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="classtwoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 500px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
				<h4 class="modal-title" id="twoModal">
                </h4>
			</div>
			<div class="modal-body">
				<div class="input-group" style="padding: 0 20px 0;">
					<span class="input-group-addon">{$Think.lang.Primarycode}</span>
					<input type="text" class="form-control" id='two'  name="fnumbert" unselectable="on" required readonly="readonly">
				</div>
				<div class="input-group" style="padding: 20px 20px 0;">
					<span class="input-group-addon">{$Think.lang.Secondcode}</span>
					<input type="text" class="form-control" placeholder="{$Think.lang.Pleaseentercode}" onkeyup="value=value.replace(/[^\d]/g,'')" name="numbert" maxlength="3" required unselectable="on">
				</div>
				<div class="input-group" style="padding: 20px 20px 0;">
					<span class="input-group-addon">{$Think.lang.Secondengname}</span>
					<input type="text" class="form-control" placeholder="{$Think.lang.Englishname}" name="nameust" placeholder="{$Think.lang.Englishname}" required>
				</div>

				<input type="hidden" id="tid" name="id" value="">
				<input type="hidden" name='adtwoclass' value="{:U('Product/addtwoclass','','')}">
			</div>
			<div class="modal-footer">

				<button type="button" add class="btn btn-primary" id="add_second" onclick="addtwonumber()">{$Think.lang.Save}</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="classtwoModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 500px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
				<h4 class="modal-title" id="twoModal">
                </h4>
			</div>
			<div class="modal-body">
				<div class="input-group" style="padding: 0 20px 0;">
					<span class="input-group-addon">{$Think.lang.Primarycode}</span>
					<input type="text" class="form-control" id="two1"  name="fnumbert1" unselectable="on" required readonly="readonly">
				</div>
				<div class="input-group" style="padding: 20px 20px 0;">
					<span class="input-group-addon">{$Think.lang.Secondcode}</span>
					<input type="text" class="form-control" placeholder="{$Think.lang.Pleaseentercode}" onkeyup="value=value.replace(/[^\d]/g,'')" name="numbert1" maxlength="3" required unselectable="on">
				</div>
				<div class="input-group" style="padding: 20px 20px 0;">
					<span class="input-group-addon">{$Think.lang.Secondengname}</span>
					<input type="text" class="form-control" placeholder="{$Think.lang.Englishname}" name="nameust1" placeholder="{$Think.lang.Englishname}" required>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" add class="btn btn-primary" id="add_second1" onclick="addSecondaryCode()">{$Think.lang.Save}</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<script>
	/* $('#aa').on('click',function(){
					     $('#cc').css('display','block')
					     })*/
	var btn1;
	function sonclass(obj,id) {
		var cid = $('input[name="getcalss"]').val();
		$("#ccsx").val(id);
		btn1 = obj;
		$('#xx').empty();
		$('#twodata').val('');
		$('#twonu').val(id);
		console.log($(obj).parents('tr').find('td').eq(1).text())
		$('#father_id').html($(obj).parents('tr').find('td').eq(0).text());
		$('#father_name').html($(obj).parents('tr').find('td').eq(1).text());
		$.ajax({
			url: cid, //通过JQ获取URL获得路径
			data: {
				id: id
			}, //通过页面元素的ID来获取设备ID
			type: "post", //选择传值方式(
			dataType: "JSON",
			success: function(data) {
				if(data) {
					console.log(data);
					$('#cc').css('display', 'block');
					$('#two').val(data[data.length - 1].number);
					$('#two1').val(data[data.length - 1].number);
//					$('#twonu').val(data[data.length - 1].number);
					for(var i = 0; i < data.length - 1; i++) {
						var list = '<tr><td>' + data[i].number + '</td><td>' + data[i].nameus + '</td>' +
							'<td><button type="button" title="{$Think.lang.Modify}" class="btn btn-primary btn-xs" onclick="twoclass(2,' + data[i].id + ')"><span class="glyphicon glyphicon-pencil"></span></button>'
							+' <button type="button" title="{$Think.lang.Delete}" class="btn btn-danger btn-xs" onclick="deltwoclass(2,' + data[i].id + ')"><span class="glyphicon glyphicon-trash"></span></button>'
							+'</td></tr>';
						$('#xx').append(list);
					}

				}
			}
		})
		$(window).scrollTop(0);
	}
	$('#twodata').on('keyup', function(event) {
		if(event.keyCode == '13') {
			twodata();
		}
	})
	function twodata() {
		var tid = $('input[name="gettwoid"]').val();
		var aaa = $("input[name='twonumbera']").val();
//		$('#twonumbera').val(aaa);
		console.log(aaa);
		//       console.log(tid);
		$('#xx').empty();
		$.ajax({
			url: tid, //通过JQ获取URL获得路径
			data: {
				twonumber: $("input[name='twonumbera']").val(),
				fnumber: $("input[name='fnumber']").val()
			}, //通过页面元素的ID来获取设备ID
			type: "post", //选择传值方式(
			dataType: "JSON",
			success: function(data) {
				if(data) {
					console.log(data);
					$('#cc').css('display', 'block');
					for(var i = 0; i < data.length; i++) {
						var list = '<tr><td>' + data[i].number + '</td><td>' + data[i].nameus + '</td>' +
							'<td>  <button type="button"data-toggle="modal" class="btn btn-primary btn-xs" onclick="twoclass(2,' + data[i].id + ')">修改</button></td></tr>';
						$('#xx').append(list);
					}

				}
			}
		})
	}

	function adclass(type, id) {
		if(type == 1) {
			$("#myModalLabel").text("{$Think.lang.Addcode}");
			var aa = $("[name='13']").val();
			console.log(aa);
			$.ajax({
				url: aa, //通过JQ获取URL获得路径
				type: "post", //选择传值方式
				dataType: "JSON",
				success: function(data) {
					if(data) {
						console.log(data);
						$("input[name='number']").val(data['datalist']);
						$("input[name='nameus']").val("");
						$('#classModal').modal('toggle');
					}
				}
			})
		}
		if(type == 2) {
			$("#myModalLabel").text("{$Think.lang.Modifycode}");
			var url = $("[name='getcalssid']").val();
			$.ajax({
				url: url, //通过JQ获取URL获得路径
				data: {
					id: id
				}, //通过页面元素的ID来获取设备ID
				type: "post", //选择传值方式
				dataType: "JSON",
				success: function(data) {
					if(data) {
						console.log(data);
						$("input[name='id']").val(data.id);
						$("input[name='nameus']").val(data.nameus);
						$("input[name='number']").val(data.number);
						$('#classModal').modal('toggle'); //点开或者关闭模态窗
					}
				}
			})
		}
	}
	//删除
	function deltwoclass(type,id){
		var r =confirm('确定删除吗');
		if( r == true){
			$.ajax({
				url: "{:U('Product/dellSecondaryCode')}", //通过JQ获取URL获得路径
				type: "post", //选择传值方式
				data: {
					id:id
				},
				dataType: "JSON",
				success: function(data) {
					console.log(data);
					if(data > 0){
						if(type == 2){
							$('#node_message').html('删除成功');
							node_message.style.display = 'block';
							var t = setTimeout("node_message.style.display='none';", 2000);
							sonclass(btn1,$('#ccsx').val());
						}else{
							$('#node_message').html('删除成功');
							node_message.style.display = 'block';
							var t = setTimeout("node_message.style.display='none';location.reload();", 1500);
						}
						
					}else if(data == 'failure'){
						$('#node_message').html('已有下级编码，无法删除');
						node_message.style.display = 'block';
						var t = setTimeout("node_message.style.display='none';", 2000);
					}
				}
			})
		}
	}
	function twoclass(type, id) {
		var zz = $('#ccsx').val();
		if(type == 1) {
			$("#twoModal").text("{$Think.lang.Addsecondcode}");
			var aa = $("[name='twonumber']").val();
//			$("input[name=namezht]").val("");
			$("input[name=nameust1]").val("");
			$("input[name=numbert1]").val("");
			//   $('#classtwoModal').modal('toggle');
			$.ajax({
				url: aa, //通过JQ获取URL获得路径
				type: "post", //选择传值方式
				data: {
					cid: zz
				},
				dataType: "JSON",
				success: function(data) {
					if(data) {
						$("input[name='numbert1']").val(data['datalist']);
						$('#classtwoModal1').modal('toggle'); //点开或者关闭模态窗
						/* $(function () { $('#classtwoModal').on('hide.bs.modal', function () {
						 location.reload();})
						 });*/
					}
				}
			}) //点开或者关闭模态窗
		}
		if(type == 2) {
			$("#twoModal").text("{$Think.lang.Modifysecondarycode}");
			var url2 = $("[name='getcalssid']").val();
			$.ajax({
				url: url2, //通过JQ获取URL获得路径
				data: {
					id: id
				}, //通过页面元素的ID来获取设备ID
				type: "post", //选择传值方式
				dataType: "JSON",
				success: function(data) {
					if(data) {
						console.log(data);
						$("input[name='id']").val(data.id);
						$("input[name='namezht']").val(data.namezh);
						$("input[name='nameust']").val(data.nameus);
						$("input[name='numbert']").val(data.number);
						$('#classtwoModal').modal('toggle'); //点开或者关闭模态窗
					}
				}
			})
		}
	}
	//添加编码
	function addnumber() {

		var add = $("[name='adclass']").val();
		var nameus = $("input[name=nameus]").val();
		var number = $("input[name=number]").val();
		var id = $("#id").val();
		if(nameus == "" || number == "") {
			if(t) {
				clearTimeout(t)
			};
			$('#node_message').html('{$Think.lang.Requiredfield}');
			node_message.style.display = 'block';
			var t = setTimeout("node_message.style.display='none';", 2000);
			return false;
		}
		$.ajax({
			url: add, //通过JQ获取URL获得路径
			data: {
				nameus: nameus,
				number: number,
				id: id
			},
			type: "post", //选择传值方式
			dataType: "JSON",
			success: function(data) {
				console.log(data);
				if (data.status==0){
					$('#node_message').html('{$Think.lang.Operationauthority}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='ok') {
					$('#node_message').html('{$Think.lang.Savesuccessfully}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';location.reload()", 2000);
				}else if(data['info']=='of'){
					$('#node_message').html('{$Think.lang.primary_code_repeat}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='ko'){
					$('#node_message').html('{$Think.lang.Cannotbeempty}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='no'){
					$('#node_message').html('{$Think.lang.Save_failed}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='lo'){
					$('#node_message').html('{$Think.lang.primary_code_repeat}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='us'){
					$('#node_message').html('{$Think.lang.first_level_duplication}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='ao'){
					$('#node_message').html('{$Think.lang.primary_code_or_english_duplication}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='bo'){
					$('#node_message').html('{$Think.lang.secondary_coding}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}
			}
		}) //点开或者关闭模态窗
	}

	function addtwonumber() {
		var add = $("[name='adtwoclass']").val();
		var fnumber = $("input[name=fnumbert]").val();
		var nameus = $("input[name=nameust]").val();
		var number = $("input[name=numbert]").val();
		var id = $("#tid").val();
		if(fnumber == "" || nameus == "" || number == "") {
			if(t) {
				clearTimeout(t)
			};
			$('#node_message').html('{$Think.lang.Requiredfield}');
			node_message.style.display = 'block';
			var t = setTimeout("node_message.style.display='none';", 2000);
			return false;
		}
		$.ajax({
			url: add, //通过JQ获取URL获得路径
			data: {
				fnumber: fnumber,
				nameus: nameus,
				number: number,
				id: id
			},
			type: "post", //选择传值方式
			dataType: "JSON",
			beforeSend: function () {
			    // 禁用按钮防止重复提交
			    $("#add_second").attr({ disabled: "disabled" });
			},
			success: function(data) {
				if (data.status==0){
					$('#node_message').html('{$Think.lang.Operationauthority}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='ok') {
					$('#node_message').html('{$Think.lang.Savesuccessfully}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='ko'){
					$('#node_message').html('{$Think.lang.Cannotbeempty}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='no'){
					$('#node_message').html('{$Think.lang.Save_failed}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='lo'){
					$('#node_message').html('{$Think.lang.secondary_code_already_exists}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='us'){
					$('#node_message').html('{$Think.lang.secondary_code_duplication}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}
				sonclass(btn1,$('#ccsx').val());
				$('#classtwoModal').modal('toggle');
			},
			  complete: function(){
			      $("#add_second").removeAttr('disabled');
			    }
   
		}) //点开或者关闭模态窗
	}
	
	//保存二级编码
	function addSecondaryCode() {
		var add = "{:U('Product/addSecondaryCode','','')}";
		var fnumber = $("input[name=fnumbert1]").val();
		var nameus = $("input[name=nameust1]").val();
		var number = $("input[name=numbert1]").val();
		var id1 = $("#ccsx").val();
		if(fnumber == "" || nameus == "" || number == "") {
			if(t) {
				clearTimeout(t)
			};
			$('#node_message').html('{$Think.lang.Requiredfield}');
			node_message.style.display = 'block';
			var t = setTimeout("node_message.style.display='none';", 2000);
			return false;
		}
		$.ajax({
			url: add, //通过JQ获取URL获得路径
			data: {
				//一级编码
				fnumber: fnumber,
				nameus: nameus,
				//二级编码
				number: number,
				//一级编码id
				id: id1
			},
			type: "post", //选择传值方式
			dataType: "JSON",
			beforeSend: function () {
			    // 禁用按钮防止重复提交
			    $("#add_second1").attr({ disabled: "disabled" });
			},
			success: function(data) {
				if (data.status==0){
					$('#node_message').html('{$Think.lang.Operationauthority}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='ok') {
					$('#node_message').html('{$Think.lang.Savesuccessfully}');
					node_message.style.display = 'block';
//					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='ko'){
					$('#node_message').html('{$Think.lang.Cannotbeempty}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='no'){
					$('#node_message').html('{$Think.lang.Save_failed}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='lo'){
					$('#node_message').html('{$Think.lang.secondary_code_already_exists}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}else if(data['info']=='us'){
					$('#node_message').html('{$Think.lang.secondary_code_duplication}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}
				sonclass(btn1,$('#ccsx').val());
				$('#classtwoModal1').modal('toggle');
			},
			  complete: function(){
			      $("#add_second1").removeAttr('disabled');
			    }
   
		}) //点开或者关闭模态窗
	}
</script>