<script>
    $('#198').parents('li').addClass('nav-active')
    $('#198').parents('li').addClass('nav-expanded')
</script>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/FirstEdition/assets/shu/boot/table.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/FirstEdition/assets/shu/boot/bootstrap-select.css" />
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                </div>

                <h2 class="panel-title">{$Think.lang.Purchaseorderpreliminaryexamination}</h2>
            </header>
            <div class="panel-body">
                <div id="node_message" style="position: fixed;top: 50%;left: 50%;display: none;background: #888;min-width:300px;margin-left: -150px;margin-top:-15px;border-radius: 8px;text-align: center;font-size: 16px;padding: 12px 20px;color: #fff;z-index: 1200;"></div>
                <!--<form class="" action="{:U('PurchaseOrder/trialOrder')}" method="get" style="display: inline-block;float: left;margin-right:15px ;">-->
                    <!--<div class="input-group" style="width: 500px;">-->
                        <!--<input name="search" type="text" value="{$ordername}" class="form-control" placeholder="请输入订单号">-->
                    	<!--<span class="input-group-btn">-->
		                    <!--<button type="submit" class="btn btn-success" style="white-space: nowrap;">搜索</button>-->
		                <!--</span>-->
                    <!--</div>-->
                    <!--<input type="hidden" id="" name='' value="">-->
                    <!--<input type="hidden" name='' value="">-->
                <!--</form>-->
                <!--<br style="clear: both;" />-->
                <table id="table1" class="table table-hover mb-none table-striped table-bordered" style="border-collapse: collapse;">
                    <thead>
                    <tr>
                        <th>{$Think.lang.ID}</th>
                        <!--<th>采购订单号</th>-->
                        <th>{$Think.lang.supplier}</th>
                        <th>{$Think.lang.TrackingNumber}</th>
                        <th>{$Think.lang.Receivingwarehouse}</th>
                        <th>{$Think.lang.Transporters}</th>
                        <th>{$Think.lang.Modeoftransport}</th>
                        <th>{$Think.lang.Freight}</th>
                        <th>{$Think.lang.Applicant}</th>
                        <th>{$Think.lang.Applicationtime}</th>
                        <th>{$Think.lang.Operation}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="purchaselist" id="vo" key="k">
                        <tr>
                            <td>{$k}</td>
                            <!--<td>PO{$vo.order_number}</td>-->
                            <td><a href="{:U('Supplier/detail',array('id'=>$vo['supplier_id']))}" target="_blank">{$vo.suppliername}</a></td>
                            <td>{$vo.tracking_number}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.transporters}</td>
                            <td>
                               {$vo.mode}
                            </td>
                            <td>{$vo.freight}</td>
                            <td>{$vo.lastnamea}{$vo.namezha}</td>
                            <td>{$vo.creationtime}</td>
                            <td>
                                <button onclick="toexamine('{$vo.id}','{$vo.order_number}')" style="border: 0px;" type="button"data-toggle="modal" class="btn btn-primary btn-xs" " >
                                {$Think.lang.Review}
                                </button>
                                <a href="{:U('PurchaseOrder/productDetailsone',array('id'=>$vo['id']))}"  target="_blank" style="border: 0px;color: #fff;" class="btn btn-primary btn-xs">  {$Think.lang.Details}</a>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <ul class="pager" style="width: 100%;">
                    <!-- 分页显示 -->{$page}</ul>
            </div>
        </section>

    </div>
</div>
<form onsubmit="return doexamine(this)">
    <div id="tode_modal" class="modal fade  bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
        	
            <div class="modal-content">
            	<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<!--<h4 class="modal-title">-->
                                    <!--采购订单号:<span style="color: red;">PO</span><span id="order_number" style="color: red;"></span>-->
                                <!--</h4>-->
				</div>
				<div class="modal-body">
                    <table id="table" class="table table-hover mb-none table-striped table-bordered" style="border-collapse: collapse;">
                        <thead>
                        <tr>
                            <th>{$Think.lang.TrackingNumber}</th>
                            <th>{$Think.lang.supplier}</th>
                            <th>{$Think.lang.Receivingwarehouse}</th>
                            <th>{$Think.lang.Transporters}</th>
                            <th>{$Think.lang.Modeoftransport}</th>
                            <th>{$Think.lang.Freight}</th>
                            <th>{$Think.lang.Estimateddeliverydate}</th>
                            <th>{$Think.lang.Remarks}</th>
                            <th>{$Think.lang.Process}</th>
                            <th>{$Think.lang.Applicant}</th>
                            <th>{$Think.lang.Applicationtime}</th>
                        </tr>
                        </thead>
                        <tbody id="tbody-info">
                        </tbody>
                    </table>

                <table class="table table-hover table-striped table-bordered" style="border-collapse: collapse;margin-top: 20px;">
                    <thead>
                    <tr>
                        <td>{$Think.lang.product_number}</td>
                        <td>{$Think.lang.Productname}</td>
                        <td id="priced"></td>
                        <td>{$Think.lang.Number}</td>
                        <td id="current"></td>
                    </tr>
                    </thead>

                    <tbody id="tbody-result">

                    </tbody>
                </table>
                <center>
                <div class="input-group">
								<span class="input-group-addon">{$Think.lang.Remarks}</span>
								<input type="text" name="reason" class="form-control" style="width: 50%;">
							</div>
                        <!--备注:<input type="text" name="reason">-->
                        <input type="hidden" name="id" id="mid">
                    
                        <input type="hidden" name="status" value="" id="status">
                </center>
                </div>
                <div class="modal-footer">
                	<div style="float: left;vertical-align: middle;line-height: 30px;">
                		<span>{$Think.lang.Total}：</span><span id="total_price" style="color: red;font-size: 16px;"></span><span id="currencym"></span>
                	</div>
                    <button class="btn btn-primary" id="add_pr" type="submit">{$Think.lang.agree}</button>
                    <button type="submit" class="btn btn-danger" id="add_no">{$Think.lang.refuse}</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    </div>
</form>



<div id="show_modal" class="modal fade  bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-body" style="line-height: 34px;">
                <div class="row" style="margin-left: 0;margin-right: 0;">
                    <table class="table table-hover table-striped" style="margin-top: 20px;">
                        <thead>
                        <tr>
                            <th>{$Think.lang.ID}</th>
                            <th>用户</th>
                        </tr>
                        </thead>
                        <tbody id="tbody-result">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script src="__ROOT__/Public/FirstEdition/assets/shu/boot/table.js"></script>
<script src="__ROOT__/Public/FirstEdition/assets/shu/boot/bootstrap-select.js"></script>
<script>
    $(document).ready(function() {
        $('#table1').DataTable({
            "paging": false,
            "lengthChange": false,
            "info": false,
            "searching": false
        });
    });
    //审核采购订单弹框
    function toexamine(id,order_number){

        $('#add_pr').click(function () {
            $('#status').val(2);
        });
        $('#add_no').click(function () {
            $('#status').val(4);
        });

        var tbody=window.document.getElementById("tbody-result");
        var tbodys=window.document.getElementById("tbody-info");
        $('#order_number').text(order_number);
        $('#mid').val(id);
        $('#tode_modal').modal('toggle');
        $.ajax({
            url: "{:U('PurchaseOrder/examineOrders')}",
            type: "post",
            data: {
                id:id
            },
            dataType: "json",
            async: true,
            success: function(data) {
                console.log(data);
                var order="";
                order +="<tr>"+
                        "<td>" + data['info']['list'][0]['tracking_number']+"</td>" +
                        "<td>" +"<a href=\"{:U('Supplier/detail','','')}/id/"+ data['info']['list'][0]['supplier_id']+"\" target=\"_blank\">" + data['info']['list'][0]['suppliername']+"</a>"+"</td>" +
                        "<td>"+ data['info']['list'][0]['name'] +"</td>" +
                        "<td>"+ data['info']['list'][0]['transporters'] +"</td>" +
                        "<td>"+ data['info']['list'][0]['mode'] +"</td>" +
                        "<td>"+ data['info']['list'][0]['freight'] +"</td>" +
                        "<td>"+ data['info']['list'][0]['delivery_date'] +"</td>" +
                        "<td>"+ data['info']['list'][0]['remarks'] +"</td>" +
                        "<td>"+ data['info']['list'][0]['lcname'] +"</td>" +
                        "<td>"+ data['info']['list'][0]['lastnamea'] +data['info']['list'][0]['namezha']+"</td>" +
                        "<td>"+ data['info']['list'][0]['creationtime'] +"</td>" +
                        "</tr>";
                tbodys.innerHTML = order;
                $('#priced').text("{$Think.lang.UnitPrice}"+'('+data['list']['list'][0]['currency']+')');
                $('#current').text("{$Think.lang.Amount}"+'('+data['list']['list'][0]['currency']+')');
                var str="";
                for (i in data['list']['list']){
                    str +="<tr>"+
                        "<td>"+"<a href=\"{:U('Product/homeProduct','','')}/pid/"+data['list']['list'][i]['supplier_pr_id']+"\" target=\"_blank\">" + data['list']['list'][i].bclassc_number +'.'+ data['list']['list'][i].sclassc_number +'.'+data['list']['list'][i].snumber_number+"</a>"+"</td>" +
                        "<td>"+"<a href=\"{:U('Product/homeProduct','','')}/pid/"+data['list']['list'][i]['supplier_pr_id']+"\" target=\"_blank\">"+ data['list']['list'][i]['namezh']+"</a>" +"</td>" +
                        "<td>"+ data['list']['list'][i]['price']+"</td>" +
                        "<td>"+ data['list']['list'][i]['num']+"</td>" +
                        "<td>"+"<span name='xj'>"+ data['list']['list'][i]['total']+"</span>"+"</td>" +
                        "</tr>";
                }
                tbody.innerHTML = str;
                var sum = 0;
                $("span[name='xj']").each(function () {
                    sum+=+$(this).text();
                });
                $('#total_price').text(sum.toFixed(2));
                $('#currencym').text(data['list']['list'][0]['currency']);
            }
        });
    }
    //审核采购订单
    function doexamine(form) {
        $.ajax({
            url: "{:U('PurchaseOrder/examineOrder')}",
            type: "post",
            data: $(form).serialize(),
            dataType: "json",
            async: true,
            success: function(data) {
                if(data.status == 0) {
                    $('#node_message').html('{$Think.lang.Operationauthority}');
                    node_message.style.display = 'block';
                    var t = setTimeout("node_message.style.display='none';", 2000);
                } else if(data=='OK') {
                    $('#node_message').html('{$Think.lang.successful_review}');
                    node_message.style.display = 'block';
                    var t = setTimeout("node_message.style.display='none';location.reload()", 2000);
                }else if(data=='NO') {
                    $('#node_message').html('{$Think.lang.unreviewed}');
                    node_message.style.display = 'block';
                    var t = setTimeout("node_message.style.display='none';", 2000);
                }
            }
        });
        return false;
    }
</script>