<link rel="stylesheet" type="text/css" href="__ROOT__/Public/FirstEdition/assets/shu/boot/table.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/FirstEdition/assets/shu/boot/bootstrap-spinner.css" />
<script>
	$('#316').parents('li').addClass('nav-active')
	$('#316').parents('li').addClass('nav-expanded')
</script>
<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
					<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
				</div>
				<h2 class="panel-title">
					<eq name="Think.cookie.think_language" value="zh-cn">{$list[0]['zkname']}</eq>
					<eq name="Think.cookie.think_language" value="en-us">{$list[0]['englishname']}</eq>
					{$Think.lang.warehouse}---
					<eq name="list[0].kqname" value="1">{$Think.lang.waiting_for_inspection}</eq>
					<eq name="list[0].kqname" value="2">{$Think.lang.mainwarehouse}</eq>
					<eq name="list[0].kqname" value="3">{$Think.lang.tobeprocessed}</eq>
					<eq name="list[0].kqname" value="4">{$Think.lang.waste_warehouse}</eq>
				</h2>
			</header>

			<div id="edit_modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">
								{$Think.lang.transit_zone}
							</h4>
						</div>
						<form onsubmit="return doarea(this)">
							<div class="modal-body" style="line-height: 34px;">
								<div class="row" style="margin-left: 0;margin-right: 0;">
									<input type="hidden" value="" id="bof" name="bof">
									<input type="hidden" id="sfid" name="sfid">
									<input type="hidden" id="godpid" name="pid">
									<!--<div class="input-group" style="padding-top: 20px;">-->
										<!--<span class="input-group-addon">订单号</span>-->
										<!--<input id="ordernumber" type="text" class="form-control" placeholder="" style="width: 80%;" value="{$list[0].bclassc_number}.{$list[0].sclassc_number}.{$list[0].snumber_number}" readonly="readonly">-->
									<!--</div>-->
									<div class="input-group" style="padding-top: 20px;">
										<span class="input-group-addon">{$Think.lang.product_number}</span>
										<input id="code" type="text" class="form-control" placeholder="" style="width: 80%;" value="{$list[0].bclassc_number}.{$list[0].sclassc_number}.{$list[0].snumber_number}" readonly="readonly">
									</div>
									<div class="input-group" style="padding-top: 20px;">
										<span class="input-group-addon">{$Think.lang.Productname}</span>
										<input id="good" type="text" class="form-control" placeholder="" style="width: 80%;" value="{$list[0].namezh}" readonly="readonly">
									</div>
									<div class="input-group" style="padding-top: 20px;">
										<span class="input-group-addon">{$Think.lang.UnitPrice}</span>
										<input id="pricec" type="text" class="form-control" placeholder="" style="width: 30%;" value="" readonly="readonly" name="pricec">
										<input id="currency" type="text" class="form-control" placeholder="" style="width: 20%;" value="{$list[0].spelling}" readonly="readonly" name="currency">
									</div>
									<div class="input-group" style="padding-top: 20px;">
										<span class="input-group-addon">{$Think.lang.Number}</span>
										<input id="num" type="text" class="form-control" placeholder="" style="width: 15%;" value="" readonly="readonly" name="xnum">
									</div>
									<div class="input-group" style="padding-top: 20px;">
										<span class="input-group-addon">{$Think.lang.current_warehouse}</span>
										<input id="currentd" type="text" class="form-control" placeholder="" style="width: 70%;" value="<eq name='Think.cookie.think_language' value='zh-cn'>{$list[0]['zkname']}</eq><eq name='Think.cookie.think_language' value='en-us'>{$list[0]['englishname']}</eq><eq name='list[0].kqname' value='1'>{$Think.lang.waiting_for_inspection}</eq>
										<eq name='list[0].kqname' value='2'>{$Think.lang.mainwarehouse}</eq>
										<eq name='list[0].kqname' value='3'>{$Think.lang.tobeprocessed}</eq>
										<eq name='list[0].kqname' value='4'>{$Think.lang.waste_warehouse}</eq>" readonly="readonly">
										<input type="hidden" id="did" name="current">
									</div>
									<div class="input-group" style="padding-top: 20px;">

										<span class="input-group-addon">{$Think.lang.transfertothelibraryarea}<span style="color: red;">*</span></span>
										<select class="form-control" name="warehouse_idb" id="first" style="width: 50%;">
										</select>
										<!--<input id="pltype" type="text" name="type" class="form-control" placeholder="" style="width: 30%;" value="">-->
									</div>
									<div class="input-group spinner" data-trigger="spinner" style="padding-top: 20px;width: 80%;">
										<div class="input-group-btn">
											<div class="btn btn-default" style="width: 200px;background: #eee;">{$Think.lang.transfer_quantity}<span style="color: red;">*</span></div>
											<div class="btn btn-default spin-down" data-spin="down"><i class="glyphicon glyphicon-minus"></i></div>
										</div>
										<input id="tonum" type="text" name="number" class="form-control spinner" placeholder="" value="">
										<div class="input-group-btn">
											<div class="btn btn-default spin-up" data-spin="up"><i class="glyphicon glyphicon-plus"></i></div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary" id="add_pr" type="submit">{$Think.lang.Save}</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">{$Think.lang.Cancel}</button>
							</div>
						</form>
					</div>
					<!-- /.modal-content -->
				</div>
			</div>
			<div class="panel-body">
				<div id="node_message" style="position: fixed;top: 50%;left: 50%;display: none;background: #888;min-width:300px;margin-left: -150px;margin-top:-15px;border-radius: 8px;text-align: center;font-size: 16px;padding: 12px 20px;color: #fff;z-index: 1200;"></div>
				<table id="table1" class="table table-hover mb-none table-striped table-bordered" style="border-collapse: collapse;">
					<thead>
					<h5 style="font-weight: bold;"><span style="margin-right: 10px;color: #DC143C;">{$Think.lang.SKU}:</span><a href="{:U('Product/homeProduct',array('pid'=>$list[0]['pid']))}" target="_blank">{$list[0].bclassc_number}.{$list[0].sclassc_number}.{$list[0].snumber_number}</a></h5>
						<h5 style="font-weight: bold;"><span style="margin-right: 10px;color: #DC143C;">{$Think.lang.Productname}:</span><a href="{:U('Product/homeProduct',array('pid'=>$list[0]['pid']))}" target="_blank">{$list[0].namezh}</a></h5>
						<h5 style="font-weight: bold;"><span style="margin-right: 10px;color: #DC143C;">{$Think.lang.unitpriceofproduct}:</span><span id="godid"></span>&nbsp;&nbsp;{$list[0]['spelling']}</h5>
					<input type="hidden" id="rce1" value="{$list[0].exchange_rate}">
					<input type="hidden" id="rce2" value="{$list[0].price}">
						<tr>
							<th>{$Think.lang.ordernumber}</th>
							<th>{$Think.lang.Number}</th>
							<th>{$Think.lang.Operation}</th>
						</tr>
					</thead>
					<tbody>
					<input type="hidden" value="{$list[0]['pid']}" id="cpid">
					<input type="hidden" value="{$list[0]['w_lid']}" id="ckid">
						<volist name="list" id="vo" key="k">

							<tr>
								<input type="hidden" value="{$k}" class="bar">
								<td>
									<a href="{:U('PurchaseOrder/completedDetails',array('id'=>$vo['o_id']))}" target="_blank">PO{$vo.order_number}</a>
								</td>
								<td class="nums">{$vo.number}</td>
								<td>
											<button id="zq" onclick='areaturn("{$vo.sfid}","{$vo.zk_id}","{$vo.pid}","{$vo.w_lid}","{$vo.number}","{$vo.o_id}")' style="border: 0px;" type="button" class="btn btn-primary btn-xs">
										{$Think.lang.transit_zone}
									</button>
								</td>
							</tr>
						</volist>
					</tbody>
				</table>
				<ul class="pager" style="width: 100%;">
					<!-- 分页显示 -->{$page}</ul>
			</div>
		</section>

	</div>
</div>
<script src="__ROOT__/Public/FirstEdition/assets/shu/boot/table.js"></script>
<script src="__ROOT__/Public/FirstEdition/assets/shu/boot/jquery.spinner.min.js"></script>
<script>

	var rce1 = $('#rce1').val();
	var rce2 = $('#rce2').val();
	$('#godid').text((Number(rce1)*Number(rce2)).toFixed(2));
	$('#pricec').val((Number(rce1)*Number(rce2)).toFixed(2));

	$(".spinner").spinner({
		max: $('.nums').text(),
		min: 1,
		step: 1
	});
	$(document).ready(function() {
		$('#table1').DataTable({
			"paging": false,
			"lengthChange": false,
			"info": false,
			"searching": false
		});
	});
	var bar = [];
	$('.bar').each(function () {
        bar.push($(this).val());
    });
	$('#sl').val(bar.pop());
    var boo = [];
    $('.bar').each(function () {
        boo.push($(this).val());
    });
    $('#bof').val(boo.pop());
	//转区
	function doarea(form) {
		$.ajax({
			url: "{:U('Warehouse/executionZone')}",
			type: "post",
			data: $(form).serialize(),
			dataType: "json",
			async: true,
			success: function(data) {
				if(data.status == 0) {
					$('#node_message').html('{$Think.lang.Operationauthority}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				} else if(data == "ok") {
					$('#node_message').html('{$Think.lang.successful_transfer}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';location.reload()", 2000);
				} else if(data == "no") {
					$('#node_message').html('{$Think.lang.transition_failed}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				} else if(data == "so") {
					$('#node_message').html('{$Think.lang.zone_pool_area_cannot}');
					node_message.style.display = 'block';
					var t = setTimeout("node_message.style.display='none';", 2000);
				}
			}
		});
		return false;
	}



	//获取仓库下的库区
	function areaturn(sfid,zkid,pid, warehouse_id,number) {
		$('#sfid').val(sfid);
		$('#godpid').val(pid);
		$.ajax({
			url: "{:U('Warehouse/getAjaxreservoir')}",
			type: "post", //选择传值方式
			data: {
				pid:pid,
				warehouse_id: warehouse_id,
				zkid:zkid
			},
			dataType: "JSON",
			success: function(data) {
				console.log(data)
				$('#num').val(number);
				$('#tonum').val(number);
				console.log(data);
				var p = "<option id='first_op' value=''>{$Think.lang.Pleasechoose}</option>"
				$("#first").html(p);
				//将获取到的数据赋值
				for(var i = 0; i < data.length; i++) {
					//拼接option标签的 name value 等属性
					if (data[i]['name']==1){
						var auu = '{$Think.lang.waiting_for_inspection}';
					}
					if (data[i]['name']==2){
						var auu = '{$Think.lang.mainwarehouse}';
					}
					if (data[i]['name']==3){
						var auu = '{$Think.lang.tobeprocessed}';
					}
					if (data[i]['name']==4){
						var auu = '{$Think.lang.waste_warehouse}';
					}
					var p = "<option value='" +
						data[i]['id'] +
						"'" +
						">" +
						auu +
						"</option>";
					$("#first_op").after(p);
				}
				$('#edit_modal').modal('toggle');
			}
		})
	}

	if($('#mold').val() == 1) {
		$('#qbsh').show();
	} else {
		$('#qbsh').hide();
	}
	var sum = 0;
	$("span[name='xj']").each(function() {
		sum += +$(this).text();
	});
	$("#total_price").text(sum.toFixed(1));
</script>